* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

main {
    display: grid;
    grid-template-columns: 40% 40%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.box {
    outline: 1px solid black;
    display: flex;
}

.playground {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    
}

.interpreter > * {
margin: auto auto;
}

.field {
    outline: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: rgb(216, 255, 139);
}

.field.wall-field {
    background-color: red;
    background-image: url('img/Mauer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.field.home-field {
    background-color: aqua;
    background-image: url('img/Haus.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.field:hover {
    outline: 3px black dotted;
    outline-offset: -3px;
    z-index: 100;
}

.tool-panel {
    display: flex;
    gap: 15px;
    margin: 5px;
}

.tool-panel > * {
    padding: 3px;
    border: 1px solid black;
    height: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.tool-panel > *.selected {
    border: 2px solid black;
    background-color: gray;
}